/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #438bf1;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.logo a {
    color: #438bf1;
    text-decoration: none;

}

.menu {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.menu a {
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

.menu a:hover {
    color: #438bf1;
}

.auth a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.auth a:hover {
    color: #438bf1;
}
/*end header*/

:root {
    --xanh: #438bf1;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.img-mau-bay {
    display: flex;
    justify-content: center;
}

.img-mau-bay-item {
    height: 300px;
    width: 50%;
}
.form-tim-ve {
    padding: 20px 50px;
    font-size: 20px;
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 0 10px -5px var(--xanh);
}

.form-tim-ve-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-tim-ve-item-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-tim-ve-item-btn button {
    background-color: var(--xanh);
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.form-tim-ve-item-btn button:hover {
    background-color: #286090;
}

.form-select {
    display: flex;
    justify-content: center;
    align-items: center;
}


.select {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px var(--xanh);
    border: none;
    margin-left: 20px;
}

.input-ngay-khoi-hanh {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px var(--xanh);
    border: none;
    margin-left: 20px;
}


.khoang-cach-form {
    width: 20px;
}