/*header*/

/*end header*/

/*main*/
main {
    font-family: Arial, sans-serif;
}
.page-title {
    margin: 30px 0 20px;
    background-color: #438bf1;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.article {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.article .picture {
    flex: 0 0 15%;
}

.article .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article .picture img:hover {
    scale: 1.15;
}

.article .infomations {
    flex: 1;
    padding: 20px;
}

.article .infomations h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}

.article .infomations p {
    color: black;
    line-height: 1.8;
}
/*main*/
.main-footer {
    display: flex;
    justify-content: space-between;   /* trái - phải */
    align-items: flex-start;
    padding: 40px;
    background: #f1f1f1;
}

.footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-left ul li {
    margin-bottom: 8px;
}

.social-links img {
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
}
