/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #438bf1;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.logo a {
    color: #438bf1;
    text-decoration: none;

}

.menu {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.menu a {
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

.menu a:hover {
    color: #438bf1;
}

.auth a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.auth a:hover {
    color: #438bf1;
}
/*end header*/

:root {
    --xanh: #438bf1;
}

.title {
    text-align: center;
    color: var(--xanh);
}

.fa-phone, .fa-envelope, .fa-location-dot {
    background-color: var(--xanh);
    color: white;
    padding: 5px;
    border-radius: 25%;
}

.info-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    margin-top: 30px;
}

.map {
    padding: 0px 100px;
    margin-top: 50px;
}

.map iframe {
    width: 100%;
    height: 600px;
}
.main-footer {
    display: flex;
    justify-content: space-between;   /* trái - phải */
    align-items: flex-start;
    padding: 40px;
    background: #f1f1f1;
}

.footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-left ul li {
    margin-bottom: 8px;
}

.social-links img {
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
}
