body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0 0 0 200px;
}

.container {
    width: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0056b3;
}

.searching-bar {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.search-form {
    max-width: 600px;
    flex: 1;
    display: flex;
    align-items: center;
}

.search-by-flight {
    display: flex;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
    background-color: #fff;
    margin: 0;
}

.search-by-flight input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #333;
    background: transparent;
}

.search-by-flight input:focus {
    box-shadow: 0 0 0 2px rgba(10, 50, 250, 0.4);
}

.btn-search {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0 30px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
    height: 40px;
    white-space: nowrap;
}

.btn-search:hover {
    background-color: #004494;
}

.add-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-ticket {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0 25px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(40, 167, 69, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
    white-space: nowrap;
    text-decoration: none;
}

.btn-add-ticket:hover {
    background-color: #218838;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(40, 167, 69, 0.3);
}

.btn-add-ticket-icon {
    font-size: 25px;
    font-weight: 400;
}

.flights {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    display: block;
    overflow-x: auto;
    max-height: 700px;
    overflow-y: auto;
}

.flights thead th {
    background-color: #f8f9fa;
    color: #495057;
    text-align: left;
    padding: 15px;
    border-bottom: 5px solid #dee2e6;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
}

.flights thead th.action {
    text-align: center;
    width: 120px;
}

.flights tbody td {
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    vertical-align: middle;
    color: #333;
}

.flights tbody td:nth-child(5) {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.flights tbody tr:hover {
    background-color: #f0f8ff;
}

/*.flight-code {*/
/*    font-weight: bold;*/
/*    color: #0056b3;*/
/*    font-size: 15px;*/
/*}*/

/*.route-info {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*}*/

/*.location {*/
/*    font-weight: 600;*/
/*}*/

/*.icon-arrow {*/
/*    color: #1ba0e2;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    line-height: 1;*/
/*}*/

/*.time-info {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 5px;*/
/*}*/

/*.flight-time-row {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    white-space: nowrap;*/
/*}*/

/*.flight-date {*/
/*    font-size: 15px;*/
/*    color: #888;*/
/*    margin-top: 5px;*/
/*    white-space: nowrap;*/
/*}*/

/*.flight-price {*/
/*    color: #d9534f;*/
/*    font-weight: bold;*/
/*    font-size: 15px;*/
/*}*/

/*.left-ticket {*/
/*    display: inline-block;*/
/*    margin: 0 auto;*/
/*    border-radius: 20px;*/
/*    font-size: 15px;*/
/*    font-weight: 700;*/
/*}*/

/*.left-ticket.available {*/
/*    background-color: #e6f9ea;*/
/*    color: #28a745;*/
/*}*/

/*.left-ticket.low-stock {*/
/*    background-color: #e6f9ea;*/
/*    color: #ff0500;*/
/*}*/

.act-btns {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 8px;
}

.act-btns form {
    margin: 0;
    padding: 0;
    display: flex;
}

.btn-act {
    border: none;
    padding: 0 15px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    text-decoration: none;
    height: 30px;
    min-width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

}

.btn-act.btn-edit {
    background-color: #f0ad4e;
}

.btn-act.btn-edit:hover {
    background-color: #ec971f;
}

.btn-act.btn-delete {
    background-color: #d9534f;
}

.btn-act.btn-delete:hover {
    background-color: #c9302c;
}

.page-moving {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}


.page-link {
    text-decoration: none;
    color: #0056b3;
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: all 0.2s;
}

.page-link:hover {
    background-color: #e9ecef;
}

.page-link.active {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
}