/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #438bf1;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.logo a {
    color: #438bf1;
    text-decoration: none;

}

.menu {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.menu a {
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

.menu a:hover {
    color: #438bf1;
}

.auth a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.auth a:hover {
    color: #438bf1;
}
/*end header*/

/*heading*/
h1 {
    text-align: center;
    margin-top: 25px ;
}
/*end heading*/

/*update form*/
.update-user-info {
    max-width: 500px;
    margin: 25px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    transition: 0.2s;
}

input:focus, select:focus, textarea:focus {
    border-color: #337ab7;
    outline: none;
    box-shadow: 0 0 3px rgba(0,123,255,0.4);
}

.btn-form-update {
    text-align: center;
    margin-top: 20px;
}

.btn-form-update button {
    background-color: #337ab7;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    font-size: 20px;
}

.btn-form-update button:hover {
    scale: 1.05;
    background-color: #286090;
}
