
:root {
    --xanh: #438bf1;
}
.container{
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: black;
}


/*selection vé*/

.title-selection {
    color: var(--xanh);
}
.list-card-selection {
    display: flex;
    justify-content: space-between;
}
.card-selection {
    width: 18%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    transition: 0.3s;
}

.card-selection:hover {
    scale: 1.2;
}

.card-selection img {
    width: 100%;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
}

.card-selection p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.card-selection span {
    font-size: 25px;
    font-weight: bold;
    color: var(--xanh);
    display: block;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

.btn-dat-ve-selection {
    text-align: center;
    margin-top: 30px;
}

.btn-dat-ve-selection a {
    background-color: var(--xanh);
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}

.btn-dat-ve-selection a:hover {
    background-color: #337ab7;
}
/*end vé*/

/*vé quôốc tế*/

.selection-ve-quoc-te {
    margin-top: 100px;
}

/*end vé quốc tế*/

/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.menu {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.menu a {
    color: black;
    font-weight: 500;
    transition: color 0.2s;
}

.menu a:hover {
    color: #2589f5;
}

.auth a {
    color: black;
    margin: 0 5px;
}

.auth a:hover {
    color: #2589f5;
}
/*end header*/