
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #438bf1;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.logo a {
    color: #438bf1;

}

.menu {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.menu a {
    transition: color 0.3s;
}

.menu a:hover {
    color: #438bf1;
}

.auth a {
    margin: 10px;
}

.auth a:hover {
    color: #438bf1;
}