
:root {
    --xanh: #438bf1;
}
.container{
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: black;
}


/*selection vé*/

.title-selection {
    color: var(--xanh);
}
.list-card-selection {
    display: flex;
    justify-content: space-between;
}
.card-selection {
    width: 18%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    transition: 0.3s;
}

.card-selection:hover {
    scale: 1.1;
}

.card-selection img {
    width: 100%;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
}

.card-selection p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.card-selection span {
    font-size: 25px;
    font-weight: bold;
    color: var(--xanh);
    display: block;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

.btn-dat-ve-selection {
    text-align: center;
    margin-top: 110px;
}

.btn-dat-ve-selection a {
    background-color: var(--xanh);
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}

.btn-dat-ve-selection a:hover {
    background-color: #337ab7;
}
/*end vé*/

/*vé quôốc tế*/

.selection-ve-quoc-te {
    margin-top: 100px;
}

/*end vé quốc tế*/

/*header*/
/*header {*/

/*end header*/
/* ----- FOOTER DESIGN ----- */
/* ----- FOOTER DESIGN ----- */
/*.main-footer {*/
/*    background: #f8f9fc;*/
/*    padding: 45px 55px; !* tăng nhẹ padding *!*/
/*    border-top: 3px solid #007bff;*/
/*    font-family: Arial, sans-serif;*/
/*    margin-top: 70px;*/
/*}*/

/*!* 2 khối trái – phải *!*/
/*.footer-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    width: 100%;*/
/*}*/

/*!* 👉 Tăng cỡ chữ vừa phải *!*/
/*.main-footer h3 {*/
/*    color: #007bff;*/
/*    font-size: 24px;   !* trước là 22px → tăng chút *!*/
/*    margin-bottom: 18px;*/
/*    font-weight: bold;*/
/*}*/

/*.footer-left ul li,*/
/*.footer-right p {*/
/*    font-size: 17px;   !* trước nhỏ hơn → tăng lên *!*/
/*    line-height: 1.6;*/
/*}*/

/*!* Link *!*/
/*.footer-left ul li a {*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*    font-size: 17px;   !* đồng bộ chữ menu *!*/
/*}*/

/*.footer-left ul li a:hover {*/
/*    color: #007bff;*/
/*    padding-left: 4px;*/
/*}*/

/*!* Icon *!*/
/*.social-links img {*/
/*    width: 38px;  !* tăng nhẹ để đồng bộ chữ *!*/
/*    margin-right: 12px;*/
/*    cursor: pointer;*/
/*    border-radius: 8px;*/
/*    transition: 0.3s;*/
/*}*/

/*.social-links img:hover {*/
/*    transform: scale(1.1);*/
/*}*/

/*!* Dòng cuối *!*/
/*.footer-bottom {*/
/*    text-align: center;*/
/*    margin-top: 28px;*/
/*    padding-top: 15px;*/
/*    border-top: 1px solid #ddd;*/
/*    font-size: 15px;*/
/*    color: #666;*/
/*}*/
